
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.ir {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 30px;
}

.voltar {
    text-decoration: none;
    position: absolute;
    top: 5px;
    left: 30px;
}

i {
    color: #FF9000;
    font-size: 35px;
}


@media only screen and (max-width: 850px) {
    .ir {
        right: 5px;
    }

    .voltar {
        left: 5px;
    }
}

/* --- SESSAO --- */


section {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
    max-width: 800px;
    height: 950px;
    width: 100%;
    width: auto;
    justify-self: center;
    margin: 60px 10px;
}

section div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
}

time {
    font-size: 18px;
    text-align: end;
    font-weight: 600;
    margin-bottom: 10px;
}

h1 {
    padding: 30px 10px;
    color: #FF9000;
    text-align: center;
}


section p {
    text-align: justify;
    font-size: 18px;
}


img {
    width: 400px;
    margin-top: 10px;
    align-self: self-end;
}

@media only screen and (max-width: 600px) {
    section p, section time {
        font-size: 16px;
    }

    img {
        width: 300px;
    }

}

@media only screen and (max-width: 700px) {
    img {
        width: 100%;
    }
}
    /* 
    @media only screen and (max-width: 500px) {
        section p, section time {
            font-size: 12px;
        }
    } */




/*--- FOOTER --- */
.div-pai-footer {
    background-color: #f4f4f4;
    border-top: solid 3px #FF9000;
    padding: 30px;
    margin-top: 10vh;
}

.div-pai-footer img {
    width: 200px;
    margin: 20px 0px;
}

.div-pai-footer h6 {
    font-size: 17px;
    text-align: center;
}

.div-pai-footer p {
    text-align: center;
}

/* --- RESPONSIVIDADE --- */

@media only screen and (max-width: 800px) {
    .div-pai-footer {
        padding: 15px;
    }

    .div-pai-footer h6 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .div-pai-footer {
        padding: 10px;
    }
    
    .div-pai-footer p {
        font-size: 14px;
    }

    .div-pai-footer img {
        width: 130px;
        margin: 10px 0px;
    }
}